<h3>
    Start Your Own
</h3>

<nv-editable-table [table-headers]="tableHeaders" [table-rows-with-id]="tableRowsWithId"
                   [data-type]="dataType" [is-editable]="isEditable" [add-button-label]="quizLabel"
                   [extra-button-label]="questionsLabel" [extra-button-count]="questionsCount"
                   (onRemove)="removeQuiz($event)" (onSave)="saveQuiz($event)"
                   (onExtraButtonClick)="toggleQuestions($event)">
</nv-editable-table>

<my-questions *ngIf="selectedQuiz" [quiz-id]="selectedQuiz"
              (onQuestionsUpdate)="updateQuestionsCount()">
</my-questions>